## Pastas de compilação do .NET
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## Configurações do Visual Studio e VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

## Uploads locais (evita subir fotos de teste da sua máquina)
LeveInvestimentos.Web/wwwroot/uploads/*
!LeveInvestimentos.Web/wwwroot/uploads/default-avatar.png